#customer {
    text-align: center;
    align-items: center;
}

.t_content {
    background-color: white;
    margin: 4% auto;
    box-shadow: 2px 2px 5px 3px gray;
    align-items: center;
    cursor: pointer;
    border-collapse: collapse;
}

.t_content tr:nth-child(odd) {
    background-color: rgb(177, 210, 224);
}

.t_content tr:hover {
    background-color: rgb(233, 229, 229);
}

.t_content th {
    background-color: dodgerblue;
    color: white;
}

.t_content th,
td {
    padding: 15px;
}


/* table icon style */

.t_icon {
    color: black;
}

.t_icon:hover {
    color: rgb(32, 163, 135);
}


/* form design */

#form {
    flex-direction: column;
    width: 30%;
    display: none;
    z-index: 5;
    background-color: white;
    position: fixed;
    border-radius: 10px;
    box-shadow: 2px 2px 7px 3px gray;
    text-align: left;
    margin: 5%;
    padding: 10px;
}

.f_content {
    margin: 10px;
    font-size: 18px;
}

.f_input {
    padding: 5px;
    margin-top: 5px;
    padding-top: 5px;
    font-size: 18px;
    width: 20em;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgb(151, 210, 228);
    border: 2px solid rgb(115, 172, 230);
    background-color: rgb(233, 230, 230);
}

.submit {
    text-align: right;
    padding: 5%;
}

.submit .btn {
    background-color: dodgerblue;
    color: white;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}