.d_container {
    align-items: center;
    padding: 5% 3%;
}

.d_content {
    display: flex;
    align-items: center;
    background-color: white;
    margin: 5%;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 1px 1px 5px gray;
    transition: 0.5s;
}

.d_content:hover {
    cursor: pointer;
    background-color: lightgray;
}

.d_content .d_icon {
    color: dodgerblue;
    margin-right: 8%;
}

.d_link {
    text-decoration: none;
    color: black;
}